body {
  background: #fff8f8;
  margin: 0 auto;
  display: block;

  @include media_tablet_portrait() {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
  }

  &::after {
    clear: both;
    content: "";
    display: block;
  }

	.body_container_no_margin {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;

    @include media_tablet_portrait() {
      padding-left: 0;
      padding-right: 0;
    }
	}

	.body_container_margin {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0 1em 1em;
    width: 100%;

    @include media_desktop() {
      max-width: 56rem;
      padding: 2em 1em;
    }

    &::after {
      clear: both;
      content: "";
      display: block;
    }
	}
}

img {
  height: auto;
  max-height: 480px;
  object-fit: cover;
  width: 100%;
}

