<% wrap_layout :layout_no_margin do %>
  <section class="project_container <%= current_article.title %>">
    <header class="project_header work_section col_full">

      <div class="project_header_content col">

        <h1 class="project_title">
          <%= current_article.data["subtitle"] %>
        </h1>
        <h3 class="project_sourceline">
          <%= current_article.data["sourceline"] %>
        </h3>

      </div>

    </header>

    <div class="project_body_container">
      <article class="project_body">
        <%= yield %>

        <!-- <a href="/work">See other work</a> -->

      </article>
    </div>
  </section>
<% end %>
