<section class="col_container col_4">
  <div class="col">
    <a class="card_link" href="/work/content_warnings.html">
      <figure class="card_container set_a">
        <figcaption class="card_container_content">
          <h5 class="card_source">
            Facebook
          </h5>
          <h2 class="card_title">
            Designing Content Warnings
          </h2>
          <h5 class="card_subtitle">
            Product Design Lead (2015-2017)
          </h5>
          <small class="card_nav_text">
            Read Case Study &#8594;
          </small>
        </figcaption>
      </figure>
    </a>
  </div>

  <div class="col">
    <a class="card_link" href="http://instagram.com/lisasyart" target="_blank">
      <figure class="card_container set_c">
        <figcaption class="card_container_content">
          <h2 class="card_title">
            Illustration and Art
          </h2>
          <h5 class="card_subtitle">
            I maintain a visual arts practice specializing in drawing and
            painting.
          </h5>
          <small class="card_nav_text">
            View Work &#8594;
          </small>
        </figcaption>
      </figure>
    </a>
  </div>

  <div class="col">
    <a class="card_link" href="http://www.pluralsandnoun.com/" target="_blank">
      <figure class="card_container set_d">
        <figcaption class="card_container_content">
          <h5 class="card_source">
            Personal Project
          </h5>
          <h2 class="card_title">
            Plurals and Noun
          </h2>
          <h5 class="card_subtitle">
            A webcomic inspired by things that happened.
          </h5>
          <small class="card_nav_text">
            Visit Webcomic &#8594;
          </small>
        </figcaption>
      </figure>
    </a>
  </div>

</section>
