<footer class="site_footer">
  <div class="site_footer_container">
    <section class="site_footer_container_wrapper">
      <div class="col_primary">
        <p>This site was made using Middleman, and is hosted on Github Pages. All design and development created by yours truly.</p>
        <p>Last updated: Wednesday, October 17, 2018</p>
      </div>

      <div class="col_secondary site_footer_nav_container">
        <nav class="site_footer_nav">
          <ul>
            <li>
              <a href="/work">Work</a>
            </li>
            <li>
              <a href="/writing">Writing</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="mailto:hello@lisasy.com">Contact</a>
            </li>
          </ul>
        </nav>

        <nav class="site_footer_nav">
          <ul>
            <li>
              <a href="https://twitter.com/lisasy" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/lisasy/" target="_blank">LinkedIn</a>
            </li>
            <li>
              <a href="https://github.com/lisasy/" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://www.instagram.com/lisasyart/" target="_blank">Instagram</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</footer>
