<footer class="site_footer">
  <div class="site_footer_container">
    <section class="site_footer_container_wrapper">
      <div class="col_primary">
        <p>
           This <a href="http://github.com/lisasy/lisasy.github.io"
                   target="_blank">site</a> was made using <a
                   href="https://middlemanapp.com/"
                   target="_blank">Middleman</a> and is hosted on <a
                   href="https://www.netlify.com/" target="_blank">Netlify</a>.
                 All design and development created by Lisa Sy.
        </p>
        <p>
          Last updated: Wednesday, October 30, 2018
        </p>
      </div>

      <div class="col_secondary site_footer_nav_container">
        <nav class="site_footer_nav">
          <ul>
            <li>
              <a href="/work">Work</a>
            </li>
            <li>
              <a href="/writing">Writing</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="mailto:lisasyis@gmail.com">Contact</a>
            </li>
          </ul>
        </nav>

        <nav class="site_footer_nav">
          <ul>
            <li>
              <a href="https://twitter.com/lisasy" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/lisasy/" target="_blank">LinkedIn</a>
            </li>
            <li>
              <a href="https://github.com/lisasy/" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://www.instagram.com/lisasyart/" target="_blank">Instagram</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</footer>
