<header class="site_header">
  <div class="site_header_container">
    <h1 class="site_header_logo">
      <a href="/">Lisa Sy</a>
    </h1>
    <nav class="site_header_nav">
      <ul>
        <li>
          <a href="/writing">writing</a>
        </li>
        <!-- <li> -->
        <!--   <a href="/about">about</a> -->
        <!-- </li> -->
        <li>
          <a href="mailto:hello@lisasy.com">contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
