---
layout: "layout"
---

<section class="writing_container">
  <% blog.articles.each do |article| %>
    <article>
      <h1 class="article_title">
        <a href="<%= article.url %>">
          <%= article.title %>
        </a>
      </h1>

      <h3 class="article_date">
        <%= format_date(article.date) %>
      </h3>

      <%= article.body %>

    </article>
  <% end %>
</section>
