<section class="index_container">
  <h2> 
    Hello, I am a digital product designer and <a href="http://instagram.com/lisasyart" target="_blank">illustrator</a> <br> based in Oakland, California.
  </h2>
  <h3>Formerly at <a href="http://facebook.com" target="_blank">Facebook</a> and <a href="http://thoughtbot.com" target="_blank">thoughtbot</a>.</h3>
  <h3>Availability: Open for contract positions starting in November 2018</h3>
</section>
